.circuit-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $color-bg;
  border: 1px solid $color-white;
  min-height: 125px;
  width: 200px;
  margin: 20px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  &:hover {
    background-color: $color-first;
  }
  @include mq(640) {
    min-height: 80px;
    width: 128px;
    margin: 10px;
    font-size: 11px;
  }
}

.circuit-card * {
  color: $color-white;
}

.circuit-card div {
  margin: 5px;
}

.season-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $color-bg;
  border: 1px solid $color-white;
  height: 125px;
  width: 200px;
  margin: 20px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $color-first;
  }
  @include mq(640) {
    height: 80px;
    width: 128px;
    margin: 10px;
    font-size: 11px;
  }
}

.season-card * {
  color: $color-white;
}

.season-card div {
  margin: 5px;
}

.driver-card-search {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $color-bg;
  border: 1px solid $color-white;
  height: 125px;
  width: 200px;
  margin: 20px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $color-first;
  }
  @include mq(640) {
    height: 80px;
    width: 128px;
    margin: 10px;
    font-size: 11px;
  }
}

.driver-card-search * {
  color: $color-white;
}

.driver-card-search div {
  margin: 5px;
}

.driver-card-search div img {
  height: 50px;
  @include mq(640) {
    height: 30px;
  }
}

.team-card {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $color-bg;
  border: 1px solid $color-white;
  height: 125px;
  width: 200px;
  margin: 20px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $color-first;
  }
  @include mq(640) {
    height: 80px;
    width: 128px;
    margin: 10px;
    font-size: 11px;
  }
}

.team-card * {
  color: $color-white;
}

.team-card div {
  margin: 5px;
}
