* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $inter-family;
}

/* html {
  font-size: 10px;
} */

body {
  background-color: $color-bg;
}

main {
  min-height: 800px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.no-show {
  display: none;
}

.show-flex {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}
