.circuit-container {
  flex-wrap: wrap;
}

.circuit-container * {
  color: $color-white;
  text-align: center;
}

.circuit-image-bg {
  background-color: $color-white;
  border-radius: 10px;
  margin: 25px;
}

.circuit-info * {
  margin: 10px;
}

.circuit-image-container {
  padding: 10px;
}
