.div-title {
  padding: 20px;
  color: $color-white;
}

.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.div-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.div-info p {
  margin: 10px;
  color: $color-white;
}

.standings-tables {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;
}
