.div-container-race-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// Usamos gran parte de los estilos desde Home page. Es muy similar solo que con más drivers.
