@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rammetto+One&display=swap");
:root {
  --color-bg: #073b4c;
  --color-first: #118ab2;
  --color-second: #06d6a0;
  --color-third: #ffd166;
  --color-fourth: #ef476f;
  --color-white: #ffffff;
  --color-black: #000000; }

:root {
  --z-doubleback: -20;
  --z-back: -10;
  --z-middleback: -5;
  --z-normal: 1;
  --z-positivenormal: 5;
  --z-tooltip: 10;
  --z-doubletooltip: 20;
  --z-fixed: 100;
  --z-modal: 1000; }

.driver-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px; }

.driver-card-footer {
  padding-top: 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer; }
  .driver-card-footer:hover {
    color: #06d6a0; }

.driver-card-footer span {
  padding-left: 15px; }

.div-title {
  padding: 20px;
  color: #ffffff; }

.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.div-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px; }

.div-info p {
  margin: 10px;
  color: #ffffff; }

.standings-tables {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px; }

.section-team-page * {
  color: #ffffff; }

.div-team-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.div-team-info div p {
  text-align: right;
  margin: 20px; }

.div-team-engine {
  flex-direction: column; }

.div-team-engine p {
  margin: 10px; }

button {
  outline: none;
  border: 0px;
  border-radius: 10px;
  padding: 15px;
  background-color: #ef476f;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer; }
  button:hover {
    background-color: #118ab2; }

table {
  border-collapse: collapse; }

tr:nth-child(even) {
  background-color: #ffd166; }

tr:nth-child(odd) {
  background-color: #06d6a0; }

table tr:first-child {
  background-color: #118ab2;
  color: #ffffff; }

td,
th {
  padding: 5px;
  font-size: 15px; }
  @media screen and (max-width: 640px) {
    td,
    th {
      padding: 2px;
      font-size: 10px; } }

.driver-image-div {
  height: 70px; }
  @media screen and (max-width: 400px) {
    .driver-image-div {
      height: 55px; } }

.driver-image {
  object-fit: cover;
  height: 70px; }
  @media screen and (max-width: 400px) {
    .driver-image {
      height: 55px; } }

.nation-image-div {
  height: 35px; }
  @media screen and (max-width: 400px) {
    .nation-image-div {
      height: 25px; } }

.nation-image {
  object-fit: cover;
  height: 35px; }
  @media screen and (max-width: 400px) {
    .nation-image {
      height: 25px; } }

table {
  margin: 20px; }

.driver-link,
.team-link {
  cursor: pointer; }
  .driver-link:hover,
  .team-link:hover {
    color: #ef476f; }

.driver-card {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #118ab2;
  border-radius: 10px; }
  @media screen and (max-width: 640px) {
    .driver-card {
      height: 300px;
      width: 260px; } }

.driver-card-superior {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 20px; }
  @media screen and (max-width: 640px) {
    .driver-card-superior {
      padding: 15px 0 15px 15px; } }

.driver-card-inferior {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  padding-bottom: 10px; }
  @media screen and (max-width: 640px) {
    .driver-card-inferior {
      padding: 15px 0 15px 15px; } }

.driver-card-image {
  width: 200px;
  border-radius: 10px; }
  @media screen and (max-width: 640px) {
    .driver-card-image {
      width: 130px; } }

.driver-card-image img {
  object-fit: cover;
  width: 200px;
  border-radius: 10px; }
  @media screen and (max-width: 640px) {
    .driver-card-image img {
      width: 130px; } }

.driver-card-info {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin-left: 15px; }
  @media screen and (max-width: 640px) {
    .driver-card-info {
      margin-left: 10px; } }

.driver-card-info div {
  text-align: center; }

.driver-card-info-image {
  width: 70px;
  height: 70px; }
  @media screen and (max-width: 640px) {
    .driver-card-info-image {
      width: 50px;
      height: 50px; } }

.driver-card * {
  color: #ffffff; }

.driver-card-inferior p {
  font-weight: 700;
  font-size: 30px; }
  @media screen and (max-width: 640px) {
    .driver-card-inferior p {
      font-size: 25px; } }

.main-header {
  width: 100%;
  height: 100px;
  background-color: #118ab2;
  display: flex;
  align-items: center;
  padding: 0 100px;
  justify-content: space-between; }
  @media screen and (max-width: 640px) {
    .main-header {
      padding: 0 40px; } }
  @media screen and (max-width: 400px) {
    .main-header {
      padding: 0 20px; } }

.header-logo {
  font-family: "Rammetto One", "Inter", Arial, Helvetica, sans-serif;
  font-size: 30px;
  cursor: pointer; }
  .header-logo:hover {
    color: #ffd166; }
  @media screen and (max-width: 640px) {
    .header-logo {
      font-size: 25px; } }

.div-nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav-ul {
  top: -100vh; }
  @media screen and (max-width: 1024px) {
    .nav-ul {
      display: flex;
      background-color: #118ab2;
      position: fixed;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      padding-top: 50px;
      transition: all 0.2s ease 0s; } }

.show-modal-menu {
  top: 0;
  left: 0; }

.ul-item {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 1024px) {
    .ul-item {
      flex-direction: column; } }

.main-header div nav ul li,
.search-menu {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px; }
  .main-header div nav ul li:hover,
  .search-menu:hover {
    color: #ffd166; }

.search-menu {
  margin: 0 30px 0 0; }

.header-logo,
.main-header div nav ul li,
.toggle-menu,
.search-menu {
  color: #ffffff; }

.toggle-menu {
  display: none;
  cursor: pointer; }
  .toggle-menu:hover {
    color: #ffd166; }
  @media screen and (max-width: 1024px) {
    .toggle-menu {
      display: flex; } }

.item {
  margin: 0 30px 0 0; }
  @media screen and (max-width: 1024px) {
    .item {
      margin: 0 0 30px 0; } }

.close-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 100px; }
  @media screen and (max-width: 1024px) {
    .close-menu {
      display: flex; } }
  @media screen and (max-width: 640px) {
    .close-menu {
      top: 30px;
      left: 50px; } }

footer {
  width: 100%;
  height: 200px;
  background-color: #118ab2;
  margin-top: 50px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif; }

/* html {
  font-size: 10px;
} */
body {
  background-color: #073b4c; }

main {
  min-height: 800px; }

ul,
li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

.no-show {
  display: none; }

.show-flex {
  display: flex; }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }
